.containers {
  // border: 1px solid red;
}

.container1 {
  background: var(--BrightOrange);
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .container1__img {
    margin: 30px 0 10px 50px;
    align-self: left;
    width: 50px;
    height: 50px;
  }

  & .container1__h1 {
    color: var(--VeryLightGray);
    align-self: center;
    font-size: 2em;
    width: 70%;
    padding: 10px;
    text-align: left; font-family: 'Big Shoulders Display', cursive;
  }

  & .container1__p {
    color: var(--TransparentWhite);
    align-self: center;
    padding: 10px;
    width: 70%;
    font-size: 14px;
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
  }

  & .button1 {
    color: var(--BrightOrange);
    width: 130px;
    font-size: 14px;
    background: var(--VeryLightGray);
    margin: 10px 0 30px 50px;
    padding: 5px 10px;
    border: none;
    height: 40px;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
  }

  & .button1:hover {
    cursor: pointer;
    background: var(--BrightOrange);
    color: var(--TransparentWhite);
    border: 2px solid var(--TransparentWhite)
  }

  & .button1:active {
    transform: scale(.9)
  }
}

.container2 {
  background: var(--DarkCyan);
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .container2__img {
    margin: 30px 0 10px 50px;
    align-self: left;
    width: 50px;
    height: 50px;
  }

  & .container2__h1 {
    color: var(--VeryLightGray);
    align-self: center;
    font-size: 2em;
    width: 70%;
    padding: 10px;
    text-align: left;
    font-family: 'Big Shoulders Display', cursive;
  }

  & .container2__p {
    color: var(--TransparentWhite);
    align-self: center;
    padding: 10px;
    width: 70%;
    font-size: 14px;
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
  }

  & .button2 {
    color: var(--DarkCyan);
    width: 130px;
    font-size: 14px;
    background: var(--VeryLightGray);
    margin: 10px 0 30px 50px;
    padding: 5px 10px;
    border: none;
    height: 40px;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
  }

  & .button2:hover {
    cursor: pointer;
    color: var(--TransparentWhite);
    background: var(--DarkCyan);
    border: 2px solid var(--TransparentWhite)
  }

  & .button2:active {
    transform: scale(.9)
  }
}

.container3 {
  background: var(--VeryDarkCyan);
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .container3__img {
    margin: 30px 0 10px 50px;
    align-self: left;
    width: 50px;
    height: 50px;
  }

  & .container3__h1 {
    color: var(--VeryLightGray);
    align-self: center;
    font-size: 2em;
    width: 70%;
    padding: 10px;
    text-align: left;
    font-family: 'Big Shoulders Display', cursive;
  }

  & .container3__p {
    color: var(--TransparentWhite);
    align-self: center;
    padding: 10px;
    width: 70%;
    font-size: 14px;
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
  }

  & .button3 {
    color: var(--VeryDarkCyan);
    width: 130px;
    font-size: 14px;
    background: var(--VeryLightGray);
    margin: 10px 0 30px 50px;
    padding: 5px 10px;
    border: none;
    height: 40px;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
  }

  & .button3:hover {
    cursor: pointer;
    color: var(--TransparentWhite);
    background: var(--VeryDarkCyan);
    border: 2px solid var(--TransparentWhite)
  }

  & .button3:active {
    transform: scale(.9)
  }
}

@media screen and (min-width: 1000px) {
  .container {
    &1__h1,
    &2__h1,
    &3__h1 {
      margin: 20px 0 20px 0
    }
  }

  .container3,
  .container2,
  .container1 {
    & .buttons {
      margin: 50px 0 20px 50px;
    }
  }
}

@media screen and (min-width: 1366px) {
  .container {
    &1__h1,
    &2__h1,
    &3__h1 {
      font-size: 2.8em;
    }

    &1__p,
    &2__p,
    &3__p {
      font-size: 2.4em;
    }
  }
}

@media screen and (min-width: 1440px) {
  .containers {
    & .container1__img {
      margin: 30px 0 10px 100px;
    }
  }

  .container {
    &1__h1,
    &2__h1,
    &3__h1 {
      font-size: 2.5em;
    }

    &1__p,
    &2__p,
    &3__p {
      font-size: 2.3em;
    }
  }

  .container1,
  .container2,
  .container3 {
    & .buttons {
      margin: 50px 0 20px 60px;
      font-size: 1.2em;
      height: 50px;
    }
  }
}
