@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  background: var(--VeryLightGray);
  display: grid;
  place-items: center;
}
main {
  margin-top: 2.2em;
  overflow: hidden;
  border-radius: 10px;
  width: 320px;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    width: 800px;
  }
}

@media screen and (min-width: 1366px) {
  main {
    width: 1050px;
    font-size: 20px;
  }
}
