@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --BrightOrange: hsl(31, 77%, 52%);
  --DarkCyan: hsl(184, 100%, 22%);
  --VeryDarkCyan: hsl(179, 100%, 13%);
  --TransparentWhite: hsla(0, 0%, 100%, 0.75);
  --VeryLightGray: hsl(0, 0%, 95%);
}

/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  background: var(--VeryLightGray);
  display: grid;
  place-items: center;
}

main {
  margin-top: 2.2em;
  overflow: hidden;
  border-radius: 10px;
  width: 320px;
}

@media screen and (min-width: 1160px) {
  main {
    margin-top: 150px;
    width: 1000px;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  main {
    width: 70%;
  }
}
.container1 {
  background: var(--BrightOrange);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container1 .container1__img {
  margin: 30px 0 10px 50px;
  align-self: left;
  width: 50px;
  height: 50px;
}
.container1 .container1__h1 {
  color: var(--VeryLightGray);
  align-self: center;
  font-size: 2em;
  width: 70%;
  padding: 10px;
  text-align: left;
  font-family: "Big Shoulders Display", cursive;
}
.container1 .container1__p {
  color: var(--TransparentWhite);
  align-self: center;
  padding: 10px;
  width: 70%;
  font-size: 14px;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}
.container1 .button1 {
  color: var(--BrightOrange);
  width: 130px;
  font-size: 14px;
  background: var(--VeryLightGray);
  margin: 10px 0 30px 50px;
  padding: 5px 10px;
  border: none;
  height: 40px;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
}

.container2 {
  background: var(--DarkCyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container2 .container2__img {
  margin: 30px 0 10px 50px;
  align-self: left;
  width: 50px;
  height: 50px;
}
.container2 .container2__h1 {
  color: var(--VeryLightGray);
  align-self: center;
  font-size: 2em;
  width: 70%;
  padding: 10px;
  text-align: left;
  font-family: "Big Shoulders Display", cursive;
}
.container2 .container2__p {
  color: var(--TransparentWhite);
  align-self: center;
  padding: 10px;
  width: 70%;
  font-size: 14px;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}
.container2 .button2 {
  color: var(--DarkCyan);
  width: 130px;
  font-size: 14px;
  background: var(--VeryLightGray);
  margin: 10px 0 30px 50px;
  padding: 5px 10px;
  border: none;
  height: 40px;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
}

.container3 {
  background: var(--VeryDarkCyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container3 .container3__img {
  margin: 30px 0 10px 50px;
  align-self: left;
  width: 50px;
  height: 50px;
}
.container3 .container3__h1 {
  color: var(--VeryLightGray);
  align-self: center;
  font-size: 2em;
  width: 70%;
  padding: 10px;
  text-align: left;
  font-family: "Big Shoulders Display", cursive;
}
.container3 .container3__p {
  color: var(--TransparentWhite);
  align-self: center;
  padding: 10px;
  width: 70%;
  font-size: 14px;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}
.container3 .button3 {
  color: var(--VeryDarkCyan);
  width: 130px;
  font-size: 14px;
  background: var(--VeryLightGray);
  margin: 10px 0 30px 50px;
  padding: 5px 10px;
  border: none;
  height: 40px;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (min-width: 1160px) {
  .containers {
    font-size: 2.2em;
  }

  .container1__h1,
.container2__h1,
.container3__h1 {
    margin: 20px 0 0 20px;
  }

  .container1__p,
.container2__p,
.container3__p {
    margin: 20px 0 0 20px;
    font-size: 2.5em;
  }

  .container1__img,
.container2__img,
.container3__img {
    margin: 40px 0 10px 70px;
    width: 90px;
    height: 90px;
  }

  .buttons {
    margin: 50px 0 0 20px;
    border: 1px solid black;
  }

  .buttons:active {
    transform: scale(0.9);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=styles.css.map */
